PORT=3000
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
TLS_KEY_PATH=./certs/key.pem
TLS_CERT_PATH=./certs/cert.pem
RTC_MIN_PORT=20100
RTC_MAX_PORT=20200
MEDIASOUP_LISTEN_IP=0.0.0.0
MEDIASOUP_ANNOUNCED_IP=127.0.0.1
